body {
  padding-top: 50px;
}
.tessupanel {
  padding: 40px 15px;
  text-align: center;
}
.centerText{
  text-align: center;
}
.tessupanel-left {
  padding: 30px 100px;
  text-align: left;
}
.nopadding{
  padding-left: 0px;
  padding-right: 0px;
}
.smallpadding{
  padding: 3px;
}
.nomarginbottom{
  margin-bottom: 0px;
}
.mediummarginbottom{
  margin-bottom: 25px;
}

.smallmarginbottom{
  margin-bottom: 10px;
}

.crazybutton{
	background-color:#333;
	border-color:#000;
}
.content {
  margin-top: 30px;
}
.tessupanel .lead {
  margin-top: 10px;
}
.borderedcell {
    border-bottom-style: solid;
    border-width: 1px;
}
.borderedcell:hover {
    background-color: #CCCCCC;
}
.sub {
	padding-left: 50px;
}
.channelStyle {
	padding-bottom: 5px;
	padding-top: 5px;
}
.clickable{
	cursor: pointer; 
	cursor: hand;
}
.timeframe-buttons {
  margin-top: 10px;
}
.panel-shadow {
  background-color: #F3F3F3;
}
.color-cyan {
  color: #5bc0de !important;
}
.bgcolor-cyan {
  background-color: #5bc0de !important;
}
.bgcolor-cyan-light {
  background-color: #c0e6f2 !important;
}
.color-white {
  color: #FFFFFF !important;
}
.bgcolor-white {
  background-color: #FFFFFF !important;
}
.color-orange {
  color: #ff9980 !important;
}
.bgcolor-orange {
  background-color: #ff9980 !important;
}

.bgcolor-black {
  background-color: #222 !important;
}
.bgcolor-blue {
  background-color: #3333ff !important;
}
.bgcolor-dark {
  background-color: #333 !important;
}
.color-black {
  color: #000 !important;
}
.color-red {
  color: #F00 !important;
}
.dark-table-hover:hover {
  background-color: #222 !important;
}

.simplebox {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.smallMarginTop {
  margin-top: 1px !important;
}

.smallHR {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}