<div class="container content">
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">What is TessuStats?</h3>
  		</div>
  		<div class="panel-body">
    		TessuStats is a website that collects data from the HerGGu Teamspeak server and displays different statistics, graphs and information about how the server is operating.
  			TessuStats is completely non-profit free website and is developed and maintained just for practice, portfolio and own fun. 
  			<br><br>
  			The address of HerGGu Teamspeak server is: <strong>osusearch.com</strong>
  		</div>
	</div>
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Frontend</h3>
  		</div>
  		<div class="panel-body">
    		TessuStats uses <a href="https://angularjs.org/">Angular.js</a> as front end framework to make it a one page application. For CSS we use <a href="http://getbootstrap.com/">Bootstrap</a> and to render the flags we use <a href="http://lipis.github.io/flag-icon-css/">flag-icon-css</a>. We also use <a href="http://momentjs.com/">Moment.js</a> for date and time functions and <a href="http://www.google.com/analytics/">Google Analytics</a> to see how many visitors we have.
  			For all the graphs we use <a href="http://www.highcharts.com/">HighCharts</a>
  		</div>
	</div>
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Backend</h3>
  		</div>
  		<div class="panel-body">
    		<strong>Running the website</strong><br>
    		The server is running <a href="http://expressjs.com/">Express.js</a> on top of <a href="https://nodejs.org/">Node.js</a>. Currently the Git repository for this project is private but I am looking to make it public soon. The web app is not made as custom for the HerGGu server and technically could be deployed to track any Teamspeak server with ServerQuery API open.
    		<br>
    		<strong>Collecting the data</strong><br>
			TessuStats connects to the server via TeamSpeaks official <a href="http://media.teamspeak.com/ts3_literature/TeamSpeak%203%20Server%20Query%20Manual.pdf">ServerQuery</a> interface.The connection is made using <a href="https://www.npmjs.com/package/node-teamspeak">node-teamspeak</a> ServerQuery Node.js library.
    		We make a connection to the TeamSpeak server every 5 minutes. Every scan we save the server state, connection status,channels that are up and search for user list to add a record of the user to the database. We do not store any IP adresses.
  			<br>
    		<strong>Storing the data</strong><br>
    		We store everything in <a href="https://www.sqlite.org/">SQLite</a> database. It is serverless so we don't need an SQL server. We use <a href="https://www.npmjs.com/package/sqlite3">sqlite3</a> Node.js module to access the database.
  		</div>
	</div>
</div>