<div class="container content">
    <div class="row">
        <div class="col-xs-4 ">
            <h2 style="margin:0px;"><span class="label label-info" > {{channel.name}}</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 ">
            <div class="panel panel-default ">
                <div class="panel-body ">
                    <div class="row smallmarginbottom" >
                        <div class="col-xs-6 smallmarginbottom">
                            <strong>Channel topic:</strong> {{channel.topic}}
                        </div>
                        <div class="col-xs-6 smallmarginbottom">
                            <strong>Channel description:</strong> {{channel.description}}
                        </div>
                        <div class="col-xs-6 smallmarginbottom">
                            <strong>Channel protection:</strong> {{passwordString}}
                        </div>
                        <div class="col-xs-6 smallmarginbottom">
                            <strong>Channel type:</strong> {{channel.type}}
                        </div>
						<div class="col-xs-6 smallmarginbottom">
                            <strong>Channel voice encryption:</strong> {{encryptionString}}
                        </div>
                        <div class="col-xs-6 smallmarginbottom">
                            <strong>Channel Activity:</strong> {{activity}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>