<div class="container content">

    <div class="row mediummarginbottom">
        <div class="col-xs-4 ">
        </div>
        <div class="col-xs-2 ">
            <h1><span class="label bgcolor-dark ">Forum registration completion</span></h1>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 ">
            <div class="panel panel-default ">
                <div class="panel-body bgcolor-dark color-white">
                    <div>
                        <h2> Complete registration </h2>
                        <p> You have been whispered your authentication GUID in Teamspeak. Please copy and paste the code here.
                        </p>
                        <form novalidate class="simple-form ">
                            <hr/>
                            Authentication GUID: <input class="color-black"type="text" ng-model="guid" /><br /><hr/>
                            <input type="submit" class="color-black" ng-click="completeRegister(guid)" value="Login" />
                        </form>

                        <div ng-show="wrongGuid" class="alert alert-danger" role="alert" style="margin-top: 10px;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Wrong Authentication GUID {{wrongGuidReason}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>