<div class="container content">

    <div class="row">
        <div class="col-xs-12 ">
            <div class="panel panel-default ">
                <div class="panel-body bgcolor-dark color-white">
                    <div>
                        <h4 class="smallMarginTop"> {{post.title}} </h4>
                        <hr class="smallHR"/>
                        <div class="row">
                            <div class="col-xs-3">
                                <strong>poster: <a class="color-white" href="/app/#/user/{{post.creator}}">{{getNameFor(post.creator)}} </a> </strong>
                            </div>
                            <div class="col-xs-3">
                                <strong>created: {{getTime(post.created)}} </strong>
                            </div>
                            <div class="col-xs-3">
                                <strong>updated: {{getTime(post.updated)}} </strong>
                            </div>
                            <div class="col-xs-3">
                                <strong>category: {{post.category}} </strong>
                            </div>
                        </div>
                        
                        <hr class="smallHR"/>

                        <pre class=" color-black" style="white-space: pre-wrap;">{{post.content}}</pre>
                        <div ng-show="canMonitorPost()">
                            <strong><a style="margin-right: 10px;"class="clickable color-orange" ng-click="">Edit </span></a></strong>
                            <strong><a class="clickable color-orange" ng-click="deletePost()">Remove </span></a></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 ">
            <div class="panel panel-default ">
                <div class="panel-body bgcolor-dark color-white">
                    <h2 class="smallMarginTop"> {{comments.length}} Comments </h2>
                    <hr class="smallHR"/>

                    <div ng-repeat="comment in comments">
                        <hr class="smallHR"/>
                        <strong><a class="color-white" href="/app/#/user/{{comment.commenter}}">{{getNameFor(comment.commenter)}} </a></strong>
                        <pre class=" color-black" style="white-space: pre-wrap;">{{comment.comment}}</pre>
                        comment posted: {{getTime(comment.postTime)}}
                        <strong><a ng-show="canMonitorComment(comment)" style="margin-right: 10px; margin-left: 10px;"class="clickable color-orange" ng-click="">Edit </span></a></strong>
                        <strong><a ng-show="canMonitorComment(comment)" class="clickable color-orange" ng-click="deleteComment(comment)">Remove </span></a></strong>
                        <hr class="smallHR"/>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 ">
            <div class="panel panel-default ">
                <div class="panel-body bgcolor-dark color-white">
                    <div ng-show="loggedInUser">
                        <hr class="smallHR"/>
                        <h4 class="smallMarginTop"> Post a comment </h4>
                        <form novalidate class="simple-form ">
                            <textarea rows="5" type="text" class="form-control simplebox smallmarginbottom" id="newCommentText" placeholder="Your comment ..." ng-model="newComment">
                            </textarea>
                            <button class="btn btn-success" type="submit" ng-click="postComment()">Comment <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                        </form>
                        <div ng-show="error" class="alert alert-danger" role="alert" style="margin-top: 10px;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{errorMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>