<div class="container">
    	<div class="tessupanel">
    		<div class="jumbotron">
  			<h1>Tessu Stats</h1>
  			<p></p>
		</div>
			<div class="tessupanel-left">
				<p class="lead">What is this?</p>
				<p>Website which tracks Teamspeak server, including users and draws nifty graphs from the data.
				This is made for my own fun and practice.
				
				</p>
			</div>
    		<div class="tessupanel-left">
    			<a href="#/server" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-stats"></span> Server Statistics</a>
    			<p class="lead">See the latest Server statistics including Uptime and average ping! </p>
    		</div>
    			
    		<div class="tessupanel-left">
    			<a href="#/users" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span>User List</a>
    			<p class="lead">List of every single visitor that has passed on the server since the launch of this page!
    					Come and see your own stats!
    			</p>
    		</div>
    			
			<div class="tessupanel-left">
				<div class="alert alert-info">
					<h4>
						Future feature ideas:
						<ul>
							<li>More detailed user page</li>
							<li>Channel tracking</li>
							<li>Graphs! Graphs! Graphs for everybody! </li>
						</ul>

					</h4>
				</div>
			</div>
    	</div>
</div>
