<div class="container" >
	<div class="tessupanel-left">
		<div class="jumbotron" style="background-color:#333;color: #FFFFFF;">
			<h1 style=""><span style="color: #5bc0de;">T</span>essu <span style="color: #5bc0de;">S</span>tats</h1>

			<p><small>Teamspeak ip: <strong style="color: #ff9980;">osusearch.com</strong></small></p>
			<p><small>Server restarted 21.9.2015 !</small></p>
			<p><small>TessuStats is a website / webapp that collects data from the HerGGu Teamspeak server and displays different statistics, graphs and information about how the server is operating. TessuStats is completely non-profit free website and is developed and maintained just for practice, portfolio and own fun.</small></p>

			
		</div>
	</div>
</div>
