<div class="container">
    	<div class="tessupanel">
    		<div class="jumbotron">
  			<h1>Tessu Stats</h1>
  			<p></p>
		</div>
    		<div class="tessupanel-left">
    			<a href="#/server" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-stats"></span> Server Statistics</a>
    			<p class="lead">See the latest Server statistics including Uptime and average ping! </p>
    		</div>
    			
    		<div class="tessupanel-left">
    			<a href="#/users" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-user"></span>User List</a>
    			<p class="lead">List of every single visitor that has passed on the server since the launch of this page!
    					Come and see your own stats!
    			</p>
    		</div>
    			
			<div class="tessupanel-left">
				<div class="alert alert-info">
					<h4>
						Future features:<br>Teamspeak client in browser:
						See server's channels constructed to your browser with population 
						(Who is in what channel) and channel descriptions!
					</h4>
				</div>
			</div>
    	</div>
</div>
