<div class="container content">
	<div class="row">
		<div class="col-xs-4 ">
			<h3 style="margin: 0px;">
				<span class="label label-info"> Server info</span>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 ">
			<div class="panel panel-default ">
				<div class="panel-body ">
					<div class="row smallmarginbottom">
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server name:</strong> {{serverdata.name}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server welcome message:</strong>
							{{serverdata.welcomemessage}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server platform:</strong> {{serverdata.platform}}
						</div>
						<div class="col-xs-6 smallmarginbottom ">
							<strong>Server version:</strong> {{serverdata.version}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Average ping:</strong> {{serverdata.ping}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Packet loss:</strong> {{serverdata.packetloss}}%
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server uptime:</strong> {{serverdata.uptime}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server status: <span
								class="text-{{lastScanStyle}}">{{lastScan[0].success}}</span></strong>
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Scans total:</strong> {{scanAmount}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Unique visitors:</strong> {{uniqueVisitors}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Channels active:</strong> {{activeChannels}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Channels created:</strong> {{channelsAmount}}
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 ">
			<h3 style="margin: 0px;">
				<span class="label label-info"> Server activity</span>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 ">
			<div class="panel panel-default ">
				<div class="panel-body ">
					<div class="row smallmarginbottom">
						<div class="col-xs-6 smallmarginbottom">
							<strong>At this moment:</strong> {{usersOnlineNow}} online!
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Server can hold up to:</strong> {{serverdata.maxclients}} clients
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Last scan:</strong> {{lastScan.dateFormatted}}
						</div>
						<div class="col-xs-6 smallmarginbottom">
							<strong>Next scan:</strong> ~ {{getTimeToNextScan()}}
						</div>
						<div class="col-xs-6 smallmarginbottom ">
							<strong>Most clients seen:</strong> {{mostclientsseen.times}} <i
								class="icon-ok-sign" rel="tooltip"
								title="{{mostclientsseen.date}}" id="mostclienttime"> <span
								class="glyphicon glyphicon-time text-info"></span>
							</i>
						</div>
						
						<div class="col-xs-12 ">
						<hr>
							<h3 >
								Activity chart:
							</h3>
							Below is graph showing how many people there have been online lately. Clicking the buttons will change the timeframe.
							 Loading the graph data will take a few seconds, because the graph framework doesn't handle so many nodes very well.
							 <br><br>
						</div>
						
						<div class="col-xs-12 smallmarginbottom">
							<div class="btn-group  " role="group" aria-label="adb">
								<button type="button"  class="btn btn-danger crazybutton" ng-Click="loadActivityGraphDay()">24
									Hours</button>
								<button type="button" class="btn btn-danger crazybutton" ng-Click="loadActivityGraphWeek()">7
									days</button>
							</div>
						</div>

						</div>
						<div class="col-xs-12 smallmarginbottom">
							<div id="serverchart" style="height: 500px; margin-bottom: 100px;">
							
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
<script>
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
    console.log("tooltips activated");
});
</script>
</div>