<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"> <strong>Users</strong> </h1>
  </div>
  <div class="panel-body">
    <strong>All users sorted from the most active to the least active.</strong>
  </div>
</div>
<table class="table table-hover">
	<tr>
	<th>Rank</th>
	<th>Nickname</th>
	<th>Times online</th>
	</tr>
	<tr ng-repeat="user in users" ng-click="selectuser(user.databaseid)">
   		<td>{{$index + 1}}.</td><td> {{user.nickname}}</td><td>{{user.times}}</td>
	</tr>
</table>
</div>